name: Build and Deploy to VPS

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: marak89/moja-aplikacja

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set timestamp tag
        id: vars
        run: echo "TAG=$(date +'%Y%m%d-%H%M')" >> $GITHUB_OUTPUT

      - name: Build and push image nginx
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./nginx/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}-nginx:latest
            ${{ env.IMAGE_NAME }}-nginx:${{ steps.vars.outputs.TAG }}

      - name: Build and push image php
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./php/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}-php:latest
            ${{ env.IMAGE_NAME }}-php:${{ steps.vars.outputs.TAG }}

       - name: Build and push image sql
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./mysql/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}-sql:latest
            ${{ env.IMAGE_NAME }}-sql:${{ steps.vars.outputs.TAG }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Copy docker-compose to VPS
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          source: "docker-compose-prod.yml"
          target: "~/deploy/"

      - name: Run deployment on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}VPS_USER
          script: |
            cd ~/deploy
            docker-compose -f docker-compose-prod.yml pull
            docker-compose -f docker-compose-prod.yml up -d
